[flake8]
# Исключаем служебные папки и виртуальное окружение
exclude =
    .git,
    __pycache__

# Максимальная длина строки (стандарт PEP8 — 79, но часто ставят 120)
max-line-length = 119

# Максимальный уровень вложенности (сложность кода)
max-complexity = 10

# Игнорировать некоторые специфические ошибки (если нужно)
# E203: пробел перед двоеточием (конфликтует с форматтером Black)
# W503: перенос строки перед бинарным оператором
ignore = E203, W503
