# Игнорирование папки с кэшем Python
__pycache__/

# Игнорирование настроек IDE
.idea/

# Игнорирование файлов виртуального окружения
venv/

# Игнорирование файлов, содержащих личную информацию
*.env

# Игнорирование логов
*.log

# Игнорирование выходных файлов
*.pyc

# Игнорирование базы данных SQLite
*.sqlite3

# Добавьте другие файлы и папки, которые вы хотите игнорировать
